mixin formField(type="text", placeholder, options = [], textarea = false)
	if (type == 'text' || type == 'tel' || type == 'password')
		.form__field.js-form__field
			input&attributes(attributes)(
				type=`${type}`,
				autocomplete="off",
				class=`form__input`,
				placeholder=`${placeholder}`
			)
			span.error-label
	else if (type == 'select')
		.form__field.js-form__field
			+selectBox(options)&attributes(attributes)(type=`${type}`)
	else if (type == 'checkbox')
		.form__field.js-form__field.form__field-checkbox
			+checkbox(placeholder)&attributes(attributes)(data-msg="")
	else if (type == 'checkbox')
		.form__field.js-form__field.form__field-checkbox
			+checkbox(placeholder)&attributes(attributes)(data-msg="")
	else if (type == 'radio')
		.form__field.form__field-radio
			+radio(placeholder)&attributes(attributes)(data-msg="")
	else
		.form__field.js-form__field
			textarea(type='textarea' class="form__textarea", placeholder=`${placeholder}` data-validate=`${validate}`)


mixin radio(text)
	input(type="radio")&attributes(attributes)
	label(for=attributes.id)=text



mixin selectBox(options, defaultText)
	select&attributes(attributes)(data-default-text=`${defaultText ? defaultText : ''}`)
		each option in options
			if (option == '')
				option(value="", data-display="Выберите значение") Выберите значение
			else
				option(value=option)=option
